<a href="https://colab.research.google.com/github/JoyKarmoker/Python-Codes-ML/blob/master/Gradient_descent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# Load the Drive helper and mount
from google.colab import drive
import tensorflow as tf
from tensorflow import keras
import numpy as np
from tensorflow.keras import layers

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/insurance_data.csv')
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[['age', 'affordibility']], df.bought_insurance, test_size = 0.2, random_state=25)

In [5]:
X_train

    age  affordibility
0    22              1
13   29              0
6    55              0
17   58              1
24   50              1
19   18              1
25   54              1
16   25              0
20   21              1
3    52              0
7    60              0
1    25              0
5    56              1
27   46              1
8    62              1
18   19              0
12   27              0
23   45              1
22   40              1
15   55              1
26   23              1
4    46              1

In [6]:
len(X_train)

22

In [7]:
X_train_scaled = X_train.copy()
X_train_scaled['age'] = X_train_scaled['age'] / 100

X_test_scaled = X_test.copy()
X_test_scaled['age'] = X_test_scaled['age']/100

In [8]:
X_train_scaled

     age  affordibility
0   0.22              1
13  0.29              0
6   0.55              0
17  0.58              1
24  0.50              1
19  0.18              1
25  0.54              1
16  0.25              0
20  0.21              1
3   0.52              0
7   0.60              0
1   0.25              0
5   0.56              1
27  0.46              1
8   0.62              1
18  0.19              0
12  0.27              0
23  0.45              1
22  0.40              1
15  0.55              1
26  0.23              1
4   0.46              1

In [9]:
X_test_scaled

     age  affordibility
2   0.47              1
10  0.18              1
21  0.26              0
11  0.28              1
14  0.49              1
9   0.61              1

In [ ]:
model = keras.Sequential([
    layers.Dense(1, input_shape=(2,), activation='sigmoid', kernel_initializer='ones', bias_initializer='zeros')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
model.fit(X_train_scaled, y_train, epochs=5000)

In [11]:
model.evaluate(X_test_scaled, y_test)

1/1 [==============================] - 0s 169ms/step - loss: 0.3550 - accuracy: 1.0000

[0.35497748851776123, 1.0]

In [12]:
X_test_scaled

     age  affordibility
2   0.47              1
10  0.18              1
21  0.26              0
11  0.28              1
14  0.49              1
9   0.61              1

In [13]:
model.predict(X_test_scaled)

array([[0.7054848 ],
       [0.35569546],
       [0.16827849],
       [0.47801176],
       [0.7260697 ],
       [0.8294984 ]], dtype=float32)

In [14]:
coef, intercept = model.get_weights()
coef, intercept

(array([[5.060868],
        [1.40865 ]], dtype=float32), array([-2.913703], dtype=float32))

In [15]:
def sigmoid(x):
  import math
  return 1/(1+math.exp(-x))
sigmoid(18)

0.9999999847700205

In [16]:
def prediction_function(age, affordibility):
  weighted_sum = coef[0]*age + coef[1]*affordibility + intercept[0]
  return sigmoid(weighted_sum)

In [17]:
prediction_function(0.47, 1)

0.705484819775958

In [18]:
prediction_function(0.18, 1)

0.35569544317951163

In [36]:

def log_loss(y_true, y_predicted):
  epsilon = 1e-15
  y_prdicted_new = [max(i, epsilon) for i in y_predicted]
  y_predicted_new = [min(i, 1-epsilon) for i in y_predicted_new]
  y_predicted_new = np.array(y_predicted_new)
  return -np.mean(y_true*np.log(y_predicted_new)+(1-y_true)*np.log(1-y_predicted_new))

In [30]:
def sigmoid_numpy(x):
  return 1/(1+np.exp(-x))

In [32]:
sigmoid_numpy(np.array([12,0,1]))

array([0.99999386, 0.5       , 0.73105858])

In [33]:
def gradiant_descent(age, affordibility, y_true, epochs, loss_threshold):
  w1=w2=1
  bias = 0
  rate = 0.5
  n = len(age)
  for i in range(epochs):
    weighted_sum = w1*age + w2*affordibility + bias
    y_predicted = sigmoid_numpy(weighted_sum)

    loss = log_loss(y_true, y_predicted)
    
    w1d = (1/n) * np.dot(np.transpose(age), y_predicted-y_true)
    w2d = (1/n) * np.dot(np.transpose(affordibility), y_predicted-y_true)
    bias_d = np.mean(y_predicted - y_true)

    w1 = w1-w1*w1d
    w2 = w2-w2*w2d
    bias = bias - bias_d

    print(f'EPOCH: {i}, w1:{w1}, w2:{w2}, bias:{bias}, loss:{loss}')

    if loss<=loss_threshold:
      break
  
  return w1, w2, bias

In [40]:
gradiant_descent(X_train_scaled['age'], X_train_scaled['affordibility'], y_train, 1000, 0.4631)

EPOCH: 0, w1:0.9498152669403539, w2:0.8966962507890579, bias:-0.22683735472737165, loss:0.7113403233723417
EPOCH: 1, w1:0.925054634713377, w2:0.8387009996567901, bias:-0.3932380739944269, loss:0.6559178222899531
EPOCH: 2, w1:0.9179139705490423, w2:0.8095107320319233, bias:-0.513913643538202, loss:0.6286684873489866
EPOCH: 3, w1:0.9226761521745337, w2:0.7983600986264011, bias:-0.6024477911489164, loss:0.6153132049481876
EPOCH: 4, w1:0.9354941951727498, w2:0.7985505060503829, bias:-0.6692140353250584, loss:0.6083147723024861
EPOCH: 5, w1:0.9538489989846476, w2:0.8059113665963158, bias:-0.7215087281993792, loss:0.6041239934316331
EPOCH: 6, w1:0.9760948106684387, w2:0.8177962505475932, bias:-0.764278637573615, loss:0.6011559821572502
EPOCH: 7, w1:1.0011510512265671, w2:0.8324892641996668, bias:-0.8008187132064427, loss:0.5987206464625551
EPOCH: 8, w1:1.0283049158126472, w2:0.8488579438805842, bias:-0.8333016093246198, loss:0.5965217939255623
EPOCH: 9, w1:1.0570854661066305, w2:0.8661455799389599, bias:-0.8631494442358907, loss:0.5944336328261222
EPOCH: 10, w1:1.0871822623712608, w2:0.8838427533502969, bias:-0.8912868904941329, loss:0.5924031590814701
EPOCH: 11, w1:1.1183919357725849, w2:0.9016053027229537, bias:-0.9183110974673193, loss:0.590408048824748
EPOCH: 12, w1:1.150582646819809, w2:0.919200608423144, bias:-0.944604892565282, loss:0.5884386902854618
EPOCH: 13, w1:1.1836702366919492, w2:0.9364718069586914, bias:-0.9704117625553464, loss:0.5864906137101974
EPOCH: 14, w1:1.217602150451686, w2:0.9533137020756977, bias:-0.995885256325796, loss:0.5845613568201838
EPOCH: 15, w1:1.2523465827431475, w2:0.96965646415851, bias:-1.0211213577740268, loss:0.5826492000275504
EPOCH: 16, w1:1.28788515357197, w2:0.9854545785982842, bias:-1.0461795754750034, loss:0.5807526776955465
EPOCH: 17, w1:1.3242079751228835, w2:1.0006793516247692, bias:-1.0710965936635348, loss:0.5788704046182696
EPOCH: 18, w1:1.3613103371961843, w2:1.0153138298961997, bias:-1.0958950444102893, loss:0.5770010263852624
EPOCH: 19, w1:1.3991904859931479, w2:1.029349355077345, bias:-1.1205890971186843, loss:0.5751432156942103
EPOCH: 20, w1:1.4378481392268874, w2:1.0427832223555566, bias:-1.1451879834259004, loss:0.5732956836970449
EPOCH: 21, w1:1.4772834955361045, w2:1.0556170815532842, bias:-1.169698190689228, loss:0.5714571946054542
EPOCH: 22, w1:1.5174965747936926, w2:1.0678558360380712, bias:-1.1941248022978885, loss:0.5696265793845624
EPOCH: 23, w1:1.55848677951031, w2:1.0795068744976202, bias:-1.2184722951072058, loss:0.5678027472798587
EPOCH: 24, w1:1.6002526039405738, w2:1.090579525117621, bias:-1.2427449942653872, loss:0.5659846949809567
EPOCH: 25, w1:1.6427914421014858, w2:1.1010846586133811, bias:-1.2669473140128318, loss:0.5641715135723125
EPOCH: 26, w1:1.6860994624446053, w2:1.1110343914027851, bias:-1.2910838665722024, loss:0.5623623935084898
EPOCH: 27, w1:1.7301715279669347, w2:1.1204418567942471, bias:-1.3151594912927551, loss:0.5605566278528783
EPOCH: 28, w1:1.7750011478771242, w2:1.129321023057639, bias:-1.3391792369967408, loss:0.5587536139966156
EPOCH: 29, w1:1.8205804517696251, w2:1.1376865444822823, bias:-1.3631483182079924, loss:0.5569528540496
EPOCH: 30, w1:1.8669001804272705, w2:1.1455536362579675, bias:-1.3870720581463611, loss:0.5551539540735337
EPOCH: 31, w1:1.9139496894318926, w2:1.1529379670924353, bias:-1.4109558264379214, loss:0.5533566223086317
EPOCH: 32, w1:1.9617169630889233, w2:1.1598555654724538, bias:-1.4348049763811455, loss:0.5515606665303556
EPOCH: 33, w1:2.010188637016487, w2:1.166322736765119, bias:-1.4586247846564953, loss:0.5497659906595563
EPOCH: 34, w1:2.0593500282790327, w2:1.1723559891914914, bias:-1.4824203951449528, loss:0.5479725907381344
EPOCH: 35, w1:2.109185172270194, w2:1.1779719672494795, bias:-1.506196767759007, loss:0.5461805503724
EPOCH: 36, w1:2.1596768657418073, w2:1.183187391522678, bias:-1.5299586327160912, loss:0.5443900357374291
EPOCH: 37, w1:2.210806715483374, w2:1.1880190040544083, bias:-1.5537104503913954, loss:0.5426012902277277
EPOCH: 38, w1:2.2625551922098635, w2:1.1924835186344604, bias:-1.577456376706498, loss:0.5408146288322809
EPOCH: 39, w1:2.3149016892359597, w2:1.1965975754670772, bias:-1.6012002338999656, loss:0.5390304323054798
EPOCH: 40, w1:2.367824585515077, w2:1.2003776997793647, bias:-1.6249454864594006, loss:0.5372491411994067
EPOCH: 41, w1:2.4213013126104714, w2:1.2038402639999735, bias:-1.6486952219549325, loss:0.5354712498174089
EPOCH: 42, w1:2.4753084251494415, w2:1.2070014531949131, bias:-1.6724521364915699, loss:0.5336973001437566
EPOCH: 43, w1:2.5298216742938306, w2:1.2098772334946182, bias:-1.6962185244858219, loss:0.5319278757993772
EPOCH: 44, w1:2.584816083743462, w2:1.2124833232862195, bias:-1.7199962724666378, loss:0.5301635960691183
EPOCH: 45, w1:2.6402660277754895, w2:1.214835166978832, bias:-1.7437868565995898, loss:0.5284051100416846
EPOCH: 46, w1:2.69614531081314, w2:1.2169479111784773, bias:-1.7675913436348831, loss:0.5266530908992475
EPOCH: 47, w1:2.752427248012661, w2:1.2188363831336153, bias:-1.7914103949833162, loss:0.5249082303897319
EPOCH: 48, w1:2.8090847463579025, w2:1.2205150713326243, bias:-1.8152442736292405, loss:0.5231712335109022
EPOCH: 49, w1:2.866090385758056, w2:1.221998108151324, bias:-1.839092853595562, loss:0.5214428134315833
EPOCH: 50, w1:2.9234164996555503, w2:1.2232992544620958, bias:-1.8629556316827451, loss:0.519723686671671
EPOCH: 51, w1:2.9810352546678636, w2:1.2244318861266528, bias:-1.886831741211518, loss:0.5180145685589882
EPOCH: 52, w1:3.038918728808643, w2:1.2254089823023735, bias:-1.9107199675075168, loss:0.5163161689775493
EPOCH: 53, w1:3.0970389878596696, w2:1.2262431154976243, bias:-1.934618764875395, loss:0.5146291884184194
EPOCH: 54, w1:3.155368159495286, w2:1.2269464433150175, bias:-1.958526274819962, loss:0.5129543143410925
EPOCH: 55, w1:3.2138785047943763, w2:1.2275307018233523, bias:-1.9824403452826584, loss:0.51129221785021
EPOCH: 56, w1:3.2725424868111923, w2:1.2280072004994056, bias:-2.0063585506730934, loss:0.5096435506894893
EPOCH: 57, w1:3.3313328359146204, w2:1.2283868186800369, bias:-2.0302782124874112, loss:0.5080089425519648
EPOCH: 58, w1:3.3902226116452012, w2:1.2286800034635557, bias:-2.0541964203178287, loss:0.5063889987030753
EPOCH: 59, w1:3.4491852608797053, w2:1.2288967689971912, bias:-2.0781100530707577, loss:0.5047842979107746
EPOCH: 60, w1:3.508194672133697, w2:1.2290466970850524, bias:-2.1020158002243403, loss:0.5031953906747113
EPOCH: 61, w1:3.5672252258727, w2:1.2291389390483798, bias:-2.1259101829699345, loss:0.5016227977446215
EPOCH: 62, w1:3.626251840741754, w2:1.2291822187673291, bias:-2.1497895750959417, loss:0.5000670089164246
EPOCH: 63, w1:3.68525001566086, w2:1.229184836831162, bias:-2.1736502234862733, loss:0.49852848209309997
EPOCH: 64, w1:3.74419586776961, w2:1.2291546757216552, bias:-2.1974882681195846, loss:0.49700764259624053
EPOCH: 65, w1:3.8030661662378216, w2:1.2290992059528953, bias:-2.2212997614690564, loss:0.49550488271325216
EPOCH: 66, w1:3.861838361990009, w2:1.2290254930894464, bias:-2.2450806872158515, loss:0.49402056146445594
EPOCH: 67, w1:3.9204906134197324, w2:1.228940205564235, bias:-2.2688269782023394, loss:0.49255500457386353
EPOCH: 68, w1:3.9790018081951897, w2:1.2288496232174033, bias:-2.29253453356365, loss:0.491108504627112
EPOCH: 69, w1:4.037351581279725, w2:1.228759646477841, bias:-2.316199234988018, loss:0.4896813213999597
EPOCH: 70, w1:4.0955203293102, w2:1.2286758061101284, bias:-2.339816962067642, loss:0.48827368234081975
EPOCH: 71, w1:4.153489221492452, w2:1.2286032734511567, bias:-2.3633836067123357, loss:0.4868857831910546
EPOCH: 72, w1:4.211240207186404, w2:1.2285468710627248, bias:-2.386895086608079, loss:0.4855177887271338
EPOCH: 73, w1:4.268756020363878, w2:1.2285110837288888, bias:-2.4103473577115975, loss:0.48416983360925553
EPOCH: 74, w1:4.326020181130016, w2:1.2285000697297113, bias:-2.4337364257803644, loss:0.4828420233216361
EPOCH: 75, w1:4.383016994504502, w2:1.2285176723262679, bias:-2.4570583569448337, loss:0.48153443519035694
EPOCH: 76, w1:4.439731546661798, w2:1.2285674313952641, bias:-2.4803092873363655, loss:0.4802471194654148
EPOCH: 77, w1:4.496149698830437, w2:1.2286525951553355, bias:-2.5034854317901374, loss:0.4789801004544201
EPOCH: 78, w1:4.552258079050442, w2:1.2287761319309805, bias:-2.5265830916474137, loss:0.47773337769623486
EPOCH: 79, w1:4.60804407198517, w2:1.2289407419040839, bias:-2.5495986616858715, loss:0.47650692716369636
EPOCH: 80, w1:4.663495806979714, w2:1.2291488688070338, bias:-2.572528636210311, loss:0.4753007024854487
EPOCH: 81, w1:4.718602144552532, w2:1.229402711515504, bias:-2.59536961433903, loss:0.4741146361777738
EPOCH: 82, w1:4.773352661500457, w2:1.2297042355030114, bias:-2.618118304523486, loss:0.4729486408781659
EPOCH: 83, w1:4.827737634789853, w2:1.230055184123315, bias:-2.6407715283406015, loss:0.47180261057323813
EPOCH: 84, w1:4.881748024398607, w2:1.2304570896905818, bias:-2.663326223598328, loss:0.47067642181435476
EPOCH: 85, w1:4.93537545526507, w2:1.2309112843309697, bias:-2.6857794467957947, loss:0.4695699349151692
EPOCH: 86, w1:4.988612198491062, w2:1.2314189105828348, bias:-2.7081283749797103, loss:0.46848299512597635
EPOCH: 87, w1:5.041451151936893, w2:1.2319809317261632, bias:-2.7303703070385925, loss:0.46741543378050293
EPOCH: 88, w1:5.093885820337033, w2:1.2325981418250207, bias:-2.752502664476013, loss:0.46636706941140743
EPOCH: 89, w1:5.145910295055751, w2:1.2332711754698036, bias:-2.774522991703327, loss:0.4653377088313777
EPOCH: 90, w1:5.1975192335928355, w2:1.2340005172088584, bias:-2.7964289558914164, loss:0.464327148177282
EPOCH: 91, w1:5.2487078389404624, w2:1.2347865106616076, bias:-2.818218346419817, loss:0.4633351739153506
EPOCH: 92, w1:5.2994718388834645, w2:1.2356293673076815, bias:-2.8398890739602574, loss:0.4623615638058439

(5.2994718388834645, 1.2356293673076815, -2.8398890739602574)

In [41]:
coef, intercept

(array([[5.060868],
        [1.40865 ]], dtype=float32), array([-2.913703], dtype=float32))