<a href="https://colab.research.google.com/github/JoyKarmoker/Python-Codes-ML/blob/master/MatrixBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
revenue = np.array([[180,200,220], [24,36,40], [12,18,20]])
expenses = np.array([[80,90,100], [10,16,20], [8,10,10]])

In [4]:
profit = revenue - expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

In [5]:
price_per_unit = np.array([1000, 400, 1200])
units = np.array([[30,40,50], [5, 10, 15], [2,5,7]])

In [8]:
total_sold = price_per_unit * units
total_sold

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

In [10]:
np.dot(price_per_unit , units)

array([34400, 50000, 64400])

In [11]:
revenue = np.array([[200, 220, 250], [68, 79, 105], [110, 140, 180], [80, 85, 90]])
rupees_to_dollar = 75

In [13]:
revenue_ruppe = revenue * rupees_to_dollar
revenue_ruppe

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250, 10500, 13500],
       [ 6000,  6375,  6750]])